.producto{
    max-width: 100vw;
    margin-top: 100px !important;
    height: 100% !important;
}
.card{
    background-color: transparent !important;
}
.boton{
    background-color: aliceblue;
    color: black;
}
