<nav class="navbar navbar-expand-lg navbar-dark fixed-toppp ">
    <div class=" container-fluid">
        <img src="../../../assets/images/afri-agraria2.png" alt="" width="100" height="70"
            class="d-inline-block align-text-top">
       
        <div  class="collapse navbar-collapse " id="navbarNav">
            <ul   class="navbar-nav d-flex w-100 justify-content-center ">
                <li class="nav-item ms-3">
                    <a class="nav-link active " aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a  data-toggle="dropdown"   class="nav-link" href="#descubre">Discover</a>
                </li>
                <li class="nav-item ">
                    <a  data-toggle="dropdown" data-bs-target="#navbarNav" data-bs-toggle="collapse"   class="nav-link" routerLink="/shop">Shop</a>
                </li>
               
            </ul>
           
        </div>
       <label style="display: flex;">        
            <i style="font-size: 20px;color:white" class="bi-globe2"></i>


            <select  class="form-select" #langSelect (change)="changeLang(langSelect.value)">
              <option *ngFor="let lang of langs" [value]="lang">
                {{ lang }}
              </option>
            </select>
       </label>

        <button routerLink="cart" class="btn btn-primary ms-2">
            <i style="font-size: 30px;" class="bi-cart"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>
</nav> 