<div class="container text-white mt-5">
    <div class="cabecera d-flex flex-column justify-content-center mx-auto ">
        <div class="tittulo mt-5"><br><br>
            <h2>{{"PRODUCTOS.NUESTROS" | translate}}</h2>
        </div>
        <div class="texto">
            <p>{{"NUESTRAS" | translate}}</p>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-md-6">
            <img src="../../../assets/productos/anacardos.jpg" width="100%" alt="">
        </div>
        <div class="col-md-6 justify-content-center  mt-5">
            <h2>Anacardos</h2>
            <p>{{"PRODUCTOS.ANACARDOS" | translate}}</p>
                <a class="btn btn-primary btn-lg" routerLink="/anacardos-desc">{{"PRODUCTOS.VERMAS" | translate}}</a>

        </div>
    </div>
    <hr />

    <div class="row mt-5">
        <div class="col-md-6 justify-content-center  mt-5">
            <h2>Hibisco</h2>
            <p>{{"PRODUCTOS.HIBISCO" | translate}}</p>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/productos/hibisco.jpg" width="100%" alt="">
        </div>

    </div>
    <hr />

    <div class="row mt-5">
        <div class="col-md-6">
            <img src="../../../assets/productos/baobab3.jpg" width="100%" alt="">
        </div>
        <div class="col-md-6 justify-content-center  mt-5">
            <h2>Baobab</h2>
            <p>{{"PRODUCTOS.BAOBAB" | translate}}</p>
                <a class="btn btn-primary btn-lg" routerLink="/baobab-desc">{{"PRODUCTOS.VERMAS" | translate}}</a>
        </div>
    </div>
    <hr />

    <div class="row mt-5">
        <div class="col-md-6">
            <img src="../../../assets/productos/moringa.jpg" width="100%" alt="">
        </div>
        <div class="col-md-6 justify-content-center  mt-5">
            <h2>Moringa</h2>
            <p>{{"PRODUCTOS.MORINGA" | translate}}}</p>
        </div>
    </div>
</div>