<div class="container  my-5">
    <br><br><br>
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg bg-dark text-light" >
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Anacardos - La nuez saludable que te llenará de energía</h1>
        <p class="lead">Los anacardos son las nueces de la planta del anacardo. Esta planta es originaria de América del Sur y
             se cultiva principalmente en Brasil, India y Nigeria. Los anacardos son pequeñas nueces con una cáscara dura que se
              encuentra dentro de una cáscara llena de ácido urico. Estas nueces son comestibles y tienen un sabor dulce y ligeramente salado.
               Los anacardos se utilizan comúnmente en la cocina para hacer postres, salsas, pastas y como una merienda saludable,
             también son utilizados en la industria cosmética y en la elaboración de productos para el cuidado del cabello.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <a class="btn btn-primary btn-lg  px-4 me-md-2 fw-bold" routerLink="/shop">Comprar</a>
          <button type="button" (click)="back()" class="btn btn-outline-secondary btn-lg px-4">Regresar</button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 align-items-center  overflow-hidden shadow-lg">
          <img class="rounded-lg-3 " src="../../../assets/productos/anacardos.jpg" alt="" width="100%">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 my-auto">
<img src="../../../assets/productos/anacardos2.jpg" width="100%" alt="">
    </div>
    <div class="col-md-6">
    <h2 class="text-white">Beneficios</h2>
    <div class="fs-5 fw-bold text-white p-3">
      <p>
         Los anacardos son ricos en fibra dietética, lo que puede ayudar a regular el tránsito intestinal y mejorar la digestión.
      </p> 
    <p>
            Contienen una gran cantidad de magnesio, lo que puede ayudar a reducir el estrés, mejorar la salud del corazón y fortalecer los huesos.

    </p>
    <p>
            Los anacardos son una excelente fuente de vitamina E, un potente antioxidante que ayuda a proteger la piel de los daños del sol y a prevenir el envejecimiento prematuro.

    </p>
    <p>
            Contienen una gran cantidad de manganeso, un mineral esencial para la formación de huesos y tejidos conectivos.

    </p>
    <p>
            El ácido oleico presente en los anacardos puede ayudar a reducir el colesterol malo y mejorar la salud del corazón

    </p>
    <p>
            Son ricos en potasio, un mineral que ayuda a controlar la presión arterial y a mantener el equilibrio del líquido en el cuerpo.

    </p>
    <p>
            Tambien son ricos en ácido fólico, un nutriente esencial para la salud del sistema nervioso y para la formación de glóbulos rojos,
  y en antioxidantes, especialmente polifenoles y carotenoides, estos ayudan a prevenir el daño celular y mejorar la salud en general.

    </p>
    

    

    </div>
    
    </div>
</div>