<div class="container  my-5">
    <br><br><br>
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg bg-dark text-light" >
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Anacardos - {{"ANAC-DESC.LANUEZ" | translate }}</h1>
        <p class="lead">{{"ANAC-DESC.LOSA" | translate}}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <a class="btn btn-primary btn-lg  px-4 me-md-2 fw-bold" routerLink="/shop">{{"ANAC-DESC.COMPRAR" | translate}}</a>
          <button type="button" (click)="back()" class="btn btn-outline-secondary btn-lg px-4">{{"ANAC-DESC.REGRESAR" | translate}} </button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 align-items-center  overflow-hidden shadow-lg">
          <img class="rounded-lg-3 " src="../../../assets/productos/anacardos.jpg" alt="" width="100%">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6 order-md-2 my-auto">
<img src="../../../assets/productos/anacardos2.jpg" width="100%" alt="">
    </div>
    <div class="col-lg-6 order-md-1">
    <h2 class="text-white">{{"ANAC-DESC.BENE" | translate}}</h2>
    <div class="fs-5 fw-bold text-white p-3">
      <p>
         {{"ANAC-DESC.BENE1" | translate}}
      </p> 
    <p>
      {{"ANAC-DESC.BENE2" | translate}}

    </p>
    <p>
      {{"ANAC-DESC.BENE3" | translate}}

    </p>
    <p>
      {{"ANAC-DESC.BENE4" | translate}}

    </p>
    <p>
      {{"ANAC-DESC.BENE5" | translate}}

    </p>
    <p>
      {{"ANAC-DESC.BENE6" | translate}}

    </p>
    <p>
      {{"ANAC-DESC.BENE7" | translate}}


    </p>
    

    

    </div>
    
    </div>
</div>