<div class="container">
    <br><br>
    
         <div class="row principal mt-5">
       <div class="col-lg-6 imagen">
<img src="../../../assets/productos/baobab3.jpg" width="100%" alt="">
       </div>
       <div class="col-lg-6 descripcion text-white">
<p>{{"BAOB-DESC.PARANADIE" | translate}}</p>
          <button class="btn btn-primary w-100" (click)="regresar()">Regresar</button>

</div>
    </div>

  

  
</div>
<div class="pelo d-flex  align-items-center">
    <div class="container text-white">
        <p class="fs-2 fw-bold">
           {{"BAOB-DESC.ASEGURA" | translate}}
        </p>
        
    </div>
</div>
<div class="edad d-flex  align-items-center justify-content-end me-3">
    <div class="texto-edad text-white">
        <p class="fs-2 fw-bold">
           {{"BAOB-DESC.ELACEITE" | translate}}}
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 my-auto">
<img src="../../../assets/images/piel.jpg" width="100%" alt="">
    </div>
    <div class="col-md-6">
<p class="fs-4 fw-bold text-white p-3">
   {{"BAOB-DESC.ELACEITE2" | translate}}
</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{"BAOB-DESC.MAXIMIZA" | translate}}</h5>

        <p class="card-text fs-5">
           {{"BAOB-DESC.PARAQUIENES" | translate}}</p>
    </div>
</div>
    </div>
    <div class="col-md-6">
<div class="card">
    <div class="card-body">
        <div class="card-title">
          <h5>{{"BAOB-DESC.CUIDADO" | translate}}</h5> 
        </div>
        <p class="card-text fs-5">
       
    {{"BAOB-DESC.ELACEITEDE" | translate}}
    </p>
    </div>
    
</div>
    </div>
</div>