.pelo {
    height: 100vh;

    background-image: url('../../../assets/images/chica1.jpeg');
    background-position:center center;
    background-size: cover;
    background-attachment: fixed;
    

}
.edad {
    height: 100vh;

    background-image: url('../../../assets/images/chica2.jpeg');
    background-position:left;
    background-size: cover;
    background-attachment: fixed;
    
}
.texto-edad{
    width: 70%;
}

