<div id="descubre" class="container py-4">
  <br>
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="jumbotron  container-fluid py-1">
      <h1 class="display-5 fw-bold">{{"HOME.DESC" | translate}}</h1>
      <p class="col-md-10 fs-5">{{"HOME.AFRI" | translate}}</p>
      <div class="imagenes d-flex flex-wrap justify-content-around p-4">

        <div class="card1">
          <img src="../../../assets/productos/anacardos-2.png" width="250px" alt="">
          <h5 class="card-title">Anacardos</h5>
        </div>
        <div class="card2" >
          <img src="../../../assets/productos/baobab3.png" width="200px" alt="">
          <h5 class="card-title">Beobab</h5>

        </div>
        <div class="card3">
          <img src="../../../assets/productos/hibisco.jpg" width="200px" alt="">
          <h5 class="card-title">Hibisco</h5>

        </div>
        <div class="card4">
          <img src="../../../assets/productos/moringa.jpg" width="200px" alt="">
          <h5 class="card-title">Moringa</h5>

        </div>
      </div>

      <a class="btn border  border-black p-2 color-black btn-lg" routerLink="productos">See more...</a>
      <br>
      <a class="boton-tienda   border-black p-2 btn color-black  btn-lg mt-3" routerLink="shop">Shop</a>
    </div>
  </div>

</div>