
<div id="descubre" class="container py-4">
  <br><br>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="jumbotron  container-fluid py-5">
          <h1 class="display-5 fw-bold">Descubra nuestros productos</h1>
          <p class="col-md-10 fs-5">AFRI AGRARIA representa el comercio de materias primas naturales 
              a nivel mundial. Somos proveedores de materia prima para la industria cosmética.
               Nuestros principales productos son Moringa Organic, Baobab e Hibiscus.
                Las máximas exigencias de nuestros clientes en calidad y precio son nuestra prioridad.</p>
          <button class="btn btn-primary btn-lg" type="button">Example button</button>
        </div>
      </div>
    
    </div>