<ng-container *ngIf="products.length !=0">
    <div class="container mt-4">
        <br><br>
        <div class="card-table ">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                           
                            <td>{{item.nombre}}</td>
                            <td><img style="width: 120px;" src="{{item.imagen}}" alt=""></td>
                            <th style="width: 12%;">{{item.precio}}</th>
                            <td style="width: 5%;">{{item.cantidad}}</td>
                            <td style="width: 5%;">{{item.cantidad*item.precio | currency: 'EUR'}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><i class="bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td><button (click)="emptycart()" class="btn btn-danger">{{"CART.VACIAR" | translate}}</button></td>
                            <td><button routerLink="/shop" class="btn btn-primary">{{"CART.CONTINUAR" | translate}}</button></td>
                            <td><button class="btn btn-success">{{"CART.SALIR" | translate}}</button></td>
                            <td class="fs-2"><strong> Total : {{grandTotal | currency: 'EUR'}} </strong></td>
                        </tr>
                        <button class="pagar btn btn-primary" routerLink="/formulario">{{"CART.PAGAR" | translate}}</button>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length ==0">
    <div class="container mt-4">
        <br>             <br>
        <br>

        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center text-white">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" width="80%" alt="">
            <h4>Your cart is empty.!</h4>
            <h6>Add products now.</h6>
            <button routerLink="/shop" class="btn btn-primary">Buy now</button>
        </div>
    </div>
</ng-container>