.iconos{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 100px;
}
@media screen and (max-width: 600px) {
    .iconos {
        grid-template-columns: 100%;
        grid-row-gap: 50px;
        justify-items: center;
    }
  }