
    <div class="container">
     <div class="izquierda">
        <img src="../../../assets/iconos/004-checkout.png" alt="">

<img src="../../../assets/iconos/checkout.png" width="80%" alt="">
     </div>
     <div class="derecha">
        <img src="../../../assets/iconos/001-cash-register.png" width="20%" alt="">
        <i style="font-size: 20px;color:white" class="bi-checkout"></i>
        <h1>¡Gracias por su compra!</h1>
      <p>Le agradecemos por elegir nuestra tienda en línea. Estamos seguros de que disfrutará de su compra.</p>
      <p>Se ha enviado un correo electrónico de confirmación a la dirección proporcionada. Si tiene alguna pregunta o problema, no dude en ponerse en contacto con nosotros.</p>
      <p>¡Gracias de nuevo por elegir nuestra tienda!</p>
      <img src="../../../assets/iconos/002-online-shopping.png" width="30%" alt="">
     </div>
    </div>
   