
    <div class="container">
     <div class="izquierda">
        <img src="../../../assets/iconos/004-checkout.png" alt="">

<img src="../../../assets/iconos/checkout.png" width="80%" alt="">
     </div>
     <div class="derecha">
        <img src="../../../assets/iconos/001-cash-register.png" width="20%" alt="">
        <i style="font-size: 20px;color:white" class="bi-checkout"></i>
        <h1>{{"THANKYOU.GRACIAS" | translate}}</h1>
      <p>{{"THANKYOU.AGRADECEMOS" | translate}}</p>
      <p>{{"THANKYOU.ENVIADO" | translate}}</p>
      <p>¡{{"THANKYOU.DENUEVO" | translate}}</p>
      <img src="../../../assets/iconos/002-online-shopping.png" width="30%" alt="">
     </div>
    </div>
   